---
layout: page
title: 专辑
---

<details>
  <summary> <h3 class="home-page-heading">县城记（2009）</h3></summary>
{% capture my_include %}{% include_relative albums/county2009.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">一些风景（2012）</h3></summary>
{% capture my_include %}{% include_relative albums/scenery2012.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">广东姑娘（2015）</h3></summary>
{% capture my_include %}{% include_relative albums/cantongirl2015.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">梦幻丽莎发廊（2016）</h3></summary>
{% capture my_include %}{% include_relative albums/salon2016.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">故事会（2018）</h3></summary>
{% capture my_include %}{% include_relative albums/stories2018.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>