---
layout: default
title: 首页
cover: false
---

<header>
  <h1>{{ site.name }}</h1>
</header>

<hr class="stylish"/>

<br>
<img src="{{site.cdn}}/assets/imgs/wtr_img.gif" style="width:60%">
<p class="quotes" id="quotes">大鱼 小鱼 红鱼 麻鱼 我全部哈你</p>
{% comment %}
<p class="quotealbum" id="quotealbum">《绿苍苍》</p>

<script type="text/javascript" src="/assets/randomquotes.js"></script>
{% endcomment %}

{% comment %}

<main class="home-main">
  {% for collection in site.collections %}
    {% if collection.docs.size > 0 %}
    <section id="posts">
      <details {% if collection.default_open %}open{% endif %}>
        <summary>
          <h3 class="home-page-heading">{{ collection.title }}</h3>
        </summary>
        <div class="parent">
          {% for post in collection.docs %}
          <div class="post-wrapper">
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m/%Y" }}</time>
            <a class="post-link" href="{{ post.url }}">
              {{ post.title }}
            </a>
          </div>
          {% endfor %}
        </div>
      </details>
    </section>
    {% endif %}
  {% endfor %}
</main>

{% endcomment %}