---
layout: page
title: 访谈
---

<p><b>建议点开「原文」链接查看，排版、图片、视频等内容更为丰富</b></p>

{% assign postsByYear = site.interviews | group_by_exp:"post", "post.date | date: '%Y'" | reverse %}

<main class="home-main">
{% for year in postsByYear %}
  <section id="posts">
    <details open>
      <summary>
        <h3 class="home-page-heading">{{ year.name }}</h3>
      </summary>
      <div class="parent">
        {% assign sortItem = year.items | reverse %}
        {% for post in sortItem %}
          <div class="post-wrapper">
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
            <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
          </div>
        {% endfor %}
      </div>
    </details>
  </section>
{% endfor %}
</main>