---
layout: page
title: 影像
---
<h4>纪录片、演讲、演出等视频</h4>

<h2>纪录片</h2>
{% assign videos = site.videos | where: "category", "documentary" | reverse%}

{% for post in videos %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}

<h2>演讲</h2>
{% assign videos = site.videos | where: "category", "speech"  | reverse %}

{% for post in videos %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}

<h2>演出</h2>
{% assign videos = site.videos | where: "category", "liveshow"  | reverse %}

{% for post in videos %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}


{% assign videos = site.videos | where: "category", "mv"  | reverse %}
{% if videos.size > 0 %}
<h2>MV</h2>

{% for post in videos %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}
{% endif %}


