---
layout: page
title: 影像
---

<h2>纪录片</h2>
{% assign videos = site.videos | where: "category", "documentary" | reverse%}

{% for post in videos %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}

<h2>演讲</h2>
{% assign videos = site.videos | where: "category", "speech"  | reverse %}

{% for post in videos %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}

<h2>MV</h2>

<h2>演出视频</h2>
