---
layout: page
title: 作品
---
<h4>歌曲(歌词、创作背景、相关视频等)、海报和图文创作等</h4>

<h2 class="home-page-heading">专辑</h2>

{% assign falbums = site.albums | where: "featured", "true" %}

{% for album in falbums %}
  <details>
    <summary> <h4 class="home-page-heading">{{ album.title}}</h4></summary>
    {{ album.content }}
  </details>

{% endfor %}

<div class="post-wrapper">
  <a href="/allsongs" style="margin-left:1.1rem;"><b>更多……</b></a>
</div>

{% comment %}

<details>
  <summary> <h3 class="home-page-heading">县城记（2009）</h3></summary>
{% capture my_include %}{% include_relative albums/2009county.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">一些风景（2012）</h3></summary>
{% capture my_include %}{% include_relative albums/2012scenery.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">广东姑娘（2015）</h3></summary>
{% capture my_include %}{% include_relative albums/2015cantongirl.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">梦幻丽莎发廊（2016）</h3></summary>
{% capture my_include %}{% include_relative albums/2016salon.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">故事会（2018）</h3></summary>
{% capture my_include %}{% include_relative albums/2018stories.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

{% endcomment %}

<h2>海报</h2>

<div class="post-wrapper">
  <p>参见豆瓣 <a href="https://www.douban.com/photos/album/1878586635/" target="_blank">安妮塔的相册-【全网最全】五条人乐队历年海报收集</a></p>
  {% comment %}<a href="/allposters" style="margin-left:1.1rem;"><b>更多……</b></a> {% endcomment %}
</div>

<h2 class="home-page-heading">图文</h2>
{% assign workposts = site.works | where: "category", "works" | reverse%}

{% for post in workposts limit:10 %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}
<div class="post-wrapper">
  <a href="/publication" style="margin-left:1.1rem;"><b>更多……</b></a>
</div>
