---
layout: page
title: 作品
---
<h4>歌曲(歌词、创作背景、相关视频等)、海报和图文创作等</h4>

<h2 class="home-page-heading">专辑</h2>
<p>更多参见「五条人铁脯粉」「一傲」的文章<a href="https://mp.weixin.qq.com/s/RrPFl8BFf8QjfaWJmmVhEw" target="_blank">《五条人的专辑与演唱过的歌曲》</a></p>

<details>
  <summary> <h3 class="home-page-heading">春就很好听了（2009）</h3></summary>
{% capture my_include %}{% include_relative albums/2009spring.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">县城记（2009）</h3></summary>
{% capture my_include %}{% include_relative albums/2009county.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">一些风景（2012）</h3></summary>
{% capture my_include %}{% include_relative albums/2012scenery.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">县城记（2014）</h3></summary>
{% capture my_include %}{% include_relative albums/2014county.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">广东姑娘（2015）</h3></summary>
{% capture my_include %}{% include_relative albums/2015cantongirl.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">陈木莲（2015）</h3></summary>
{% capture my_include %}{% include_relative albums/2015chenmulian.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">梦幻丽莎发廊（2016）</h3></summary>
{% capture my_include %}{% include_relative albums/2016salon.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">故事会（2018）</h3></summary>
{% capture my_include %}{% include_relative albums/2018stories.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">食醉狗（2020）</h3></summary>
{% capture my_include %}{% include_relative albums/2020drunkdog.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<details>
  <summary> <h3 class="home-page-heading">地球仪（2020）</h3></summary>
{% capture my_include %}{% include_relative albums/2020globe.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

{% comment %}
<details>
  <summary> <h3 class="home-page-heading">乐队的夏天（2020）</h3></summary>
{% capture my_include %}{% include_relative albums/2020bigband.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>
{% endcomment %}

<details>
  <summary> <h3 class="home-page-heading">厨房的故事（2020）</h3></summary>
{% capture my_include %}{% include_relative albums/2020kitchen.md %}{% endcapture %}
{{ my_include | markdownify }}
</details>

<h2>海报</h2>
<p>参见豆瓣 <a href="https://www.douban.com/photos/album/1878586635/" target="_blank">安妮塔的相册-【全网最全】五条人乐队历年海报收集</a></p>


<h2 class="home-page-heading">图文</h2>
{% assign workposts = site.works | where: "category", "works" | reverse%}

{% for post in workposts limit:5 %}
    <div class="post-wrapper">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time>
        <a class="post-link" href="{{ post.url }}" >{{ post.title }}</a>
    </div>
{% endfor %}
<div class="post-wrapper">
  <a href="/published" style="margin-left:1.1rem;"><b>更多……</b></a>
</div>
