<nav class="top-nav">
  <a class="nav-item" href='/'>主页</a>
  | <a class="nav-item" href='/works'>作品</a>
  | <a class="nav-item" href='/live'>影像</a>
  | <a class="nav-item" href='/interviews'>访谈</a>
  | <a class="nav-item" href='/reports'>报道</a>
{% comment %}  | <a class="nav-item" href='/tags'>标签</a> {% endcomment %}
  | <a class="nav-item" href="/search.html">搜索</a>
{% comment %}  | <a class="nav-item" href="/feed.xml">RSS</a> {% endcomment %}
  {% if site.javascript_enabled %}| <a class="nav-item dark-light-switch" href="#"></a>{% endif %}
</nav>
