* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family:  "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 8px auto;
}

.container {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

*, iframe, img, video {
  word-wrap: break-word;
  max-width:100%;
}

img {
  display: block;
  margin: 0 auto;
}

img + em { 
  display: block;
  max-width: 100%;
  text-align: center;
  color: rgb(77,77,77);
  font-size: 0.9rem;
  font-style:normal;
}

.songimg {
  width:60%;
}

code, pre {
  font-family: monospace;
  background-color: #eee;
  letter-spacing: 1px;
  font-size: 0.9rem;
  padding: 2.5px;
  overflow-x: auto;
}

.highlight {
  position: relative;
  border-radius: 5px;

  * {
    font-family: monospace, monospace;
    background-color: unset;
    padding: unset;
    letter-spacing: unset;
  }

  & > pre {
    padding: 8px 12px;

    & > code::before {
      content: attr(data-lang);
      position: absolute;
      right: 20px;
      top: -10px;
      padding: 0 7.5px;
      border: 1px solid #828282;
      border-radius: 5px;
      text-align: center;
      color: #8fbc8f;
      background-color: #1a1a1a;
    }

    .lineno {
      color: #608079;
      padding-right: 5px;
      margin-right: 10px;
      border-right: 1px solid #656565;
    }
  }
}

a {
  color: #333;
}

a:hover {
  background-color: #333;
  color: #eee;
}

.post-date {
  width: 3.6rem;
  flex-shrink: 0;
  margin-left: 1.2rem;
}

.post-wrapper {
  display: flex;
  margin: 0.8em 0;
  font-size: 1rem;
}

.prev {
  max-width: 50%;
  float: left;
  text-align: left;
}

.next {
  max-width: 50%;
  float: right;
  text-align: right
}

.pagination {
  font-size: 1.25rem;
  padding: 1rem 0;
}

.pagination::after {
  content: "";
  clear: both;
  display: block
}

blockquote {
  margin: 1.0rem 0;
  padding: 0 0.5em;
  border-left: 5px solid #666;
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #333;
  font-style: normal;
}

blockquote p {
  color: #666;
  margin: 1.0rem 0;
}

.title-tags {
  color: #777;
  font-size: 1rem;
}

.tag-box {
  text-transform: capitalize;
}

.nice-title {
  text-transform: capitalize;
}

p {
  font-size: 1.0rem;
  line-height: 1.6em;
  color: #333;
  margin: 1.25rem 0;
}

.tags {
  background-color: #444;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  text-decoration: none;
}

h1 {
  font-size: 1.75rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

h2 {
  margin: .75rem 0;
  letter-spacing: .5px;
}

h3 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.1rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

h5, h6 {
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

section h3 {
  margin-top: 40px;
  font-size: 1.25rem;
}

h3.home-page-heading {
  margin: 5px 0;
  display: inline-block;
}

h4.home-page-heading {
  margin: 5px 0;
  display: inline-block;
}

.tags-container {
  margin: 10px auto;
}

ul, ol {
  padding-left: 20px;
  margin-left: 20px;
}

li {
  font-size: 1.0rem;
  line-height: 1.6em;
  color: #333;
}

figure {
  width: 100%;
  margin: 0;
}

figcaption {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.6em;
  color: #333;
}

hr.stylish {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  margin: 5px 0;
}

.nav-item {
  border: none;
}

.nav-item.dark-light-switch {
  text-decoration: none;
}

button {
  padding: 5px 10px;
  color: white;
  background: #272822;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

details[open] summary ~ * {
  animation: sweep .4s ease-in-out;
}





@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}

.home-main {
  margin: 1rem 0;
}

._progress-wrapper {
  position: fixed;
  width: 100%;
  height: .33rem;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(204, 204, 204);
  opacity: 0.9;
}

#_progress {
  --scroll: 0%;
  background: linear-gradient(to right, rgb(51, 51, 51) var(--scroll), transparent 0);
  width: 100%;
  height: 100%;
}

.featured-posts {
  padding: .75rem 0 1rem;
}
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
    padding: 5px;
}

table tr th:nth-child(1){
  width: 17%;
}

table tr th:nth-child(2){
  width: 60%;
}

.content {
  margin: 1rem 0;
  text-align: justify;
}

.quotes {
  text-align: center;
  font-weight: bold;
}

.quotealbum { text-align: center; }

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin: 10px 0;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// comments
.tk-extras { display: none !important; height:0; }
.tk-content p {margin-top: 0.5rem !important;margin-bottom: 1.0rem !important;}
.tk-comment {margin: 0.5rem 0px !important;}
.tk-expand {background: rgb(245, 245, 245);}
.tk-admin-comment p {color: #ffffff !important;}
.tk-admin-comment a {color: #ffffff !important;}
//.tk-tag {display: none !important;}


// for posters
.poster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width:100%;
  align-items: stretch;
}

.poster {
  flex: 1 1 200px;
  max-width:150px;
  margin: 5px;
  padding: 5px;
  /* display: flex; */
  display: none;
}
.poster img {
  width:100%;
  object-fit: cover;
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
}
/* Style the buttons */
.btn {
  padding: 8px 12px !important;
  cursor: pointer;
  background-color: #666 !important;
}

.btn:hover {
background-color: #272822 !important;
opacity: 1.0;
}

.btn.active {
background-color: #272822 !important;
color: white;
}

body.compensate-for-scrollbar {
overflow: auto !important;
max-width: 700px;
margin: 8px auto;
height: 100%;
}

//for commercials
.allcommercials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  width:100%;
  align-items: flex-end;
}

.commercial-container {
  max-width:150px;
  margin: 5px;
  padding: 5px;
  height: 8.5rem;
}

.commercial-thumbnail {
  //width:100%;
  height:6rem;
  overflow: hidden;
  //background-size: cover;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}

.commercial-title {
  width:100%;
  text-align: left;
  overflow: hidden;
  height: 1rem;
  font-size: 0.8rem;
}

.commercial-title a {
  text-decoration: none;
}

.commercial-date {
  width:100%;
  text-align: left;
  height: 1rem;
  font-size: 0.7rem;
  color:rgb(100, 100, 100);
}

.item-count {
  color:rgb(100, 100, 100);
}

// media queries
@media screen and (max-width: 700px) {
  body {margin: 8px;}
  ul, ol { margin-left: 0.5rem;}
  .poster { flex: 1 1 150px;}
}
@media screen and (max-width: 370px) {
  .nav-item { font-size: 1rem; }
  ul, ol {margin-left: 0.5rem;}
  .poster {  flex: 1 1 100px; }
}
